/* Set font family and clear margins and padding for divs to cover the background, and allow scrolling*/
body {
    font-family: sans-serif;
    background: #5D576B;
    margin: 0;
    padding: 0;
    overflow-y:scroll;
    min-height: 100%;
}

/* I don't know why this is here but I'm scared to remove it */
html {
    height: 100vh;
}

/* makes a div as a gradient background between grey and gray (it's noticeable I swear) */
#gradientbackground {
    position: fixed;
    height: 100%;
    width: 100%;
    background: linear-gradient(-45deg, #5D576B, #766e8d, #6f6585, #666270);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

/* Animation that scrolls the gradient */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Makes a star background out of a div */
#starbackground {
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url("stars.png");
    background-size: 25%;
    filter: drop-shadow(0px 0px 3px #FFFAE3);
    animation: stars 150s linear infinite;
}

/* Makes the star background scroll */
@keyframes stars {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

/* Aligns the entirety of the content section */
#content {
    width: 1000px;
    max-width: 75vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

/* formatting for text that says hello (small, simple) */
.helloText {
    color: #5D576B;
    text-shadow: 1px 1.5px #f7567c00;
    font-weight: 800;
    margin: 0;
}

/* formatting for pre-subtext (medium, blue drop shadow) */
.unitText {
    color: #5D576B;
    text-shadow: 2px 3px #f7567c72;
    font-weight: 800;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* formatting for description of unit (large, double red drop shadow) */
.description {
    margin: 0;
    font-weight: 900;
    font-size: 60px;
    text-shadow: 2px 3px #99E1D9, 4px 6px #6ec1b7;
}

/* A general box for content (text, images, etc.) */
.contentcontainer {
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #FFFAE3;
    outline: 2px solid #fffae35e;
    outline-offset: 5px;
    filter: drop-shadow(5px 5px 5px #000000);
    align-items: center;
    text-align: center;
    padding: 30px;
    width: 95%;
    margin-bottom: 30px;
}

.spoileroverlay {
    position: absolute;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    top: 0;
    left: 0;
    backdrop-filter: blur(10px) hue-rotate(180deg);
    padding: 30px;
    border-radius: 5px;
    text-indent: 0;
    text-align: center;
}
.spoileroverlay:hover {
    opacity: 0;
    animation: unblur 0.3s ease 1;
}

@keyframes unblur {
    0% {
        opacity: 1;
        backdrop-filter: blur(10px) hue-rotate(180deg);
    }
    100% {
        opacity: 0;
        backdrop-filter: blur(0px) hue-rotate(0deg);
    }
}

/* General text, indented */
.contenttext {
    margin: 0;
    color: #5D576B;
    font-weight: 750;
    text-align: left;
    font-size: 24px;
    line-height: 30px;
    text-indent: 60px;
    width: 100%;
}

/* Title for content containers */
.titletext {
    margin: 0;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #5D576B;
    font-weight: 800;
    text-align: left;
    font-size: 40px;
    line-height: 30px;
    text-indent: 60px;
    width: 100%;
    text-shadow: 2px 3px#99E1D9;
    transform: translate(0, -7px);
}

/* 1 per contentcontainer, creates a circle with text inside (usually numbers) */
.steptext {
    color: #99E1D9;
    filter: drop-shadow(2px 2px #5D576B) drop-shadow(1px 1px #F7567C);
    font-weight: 800;
    font-size: 24px;
    display: block;
    height: 39px;
    width: 42px;
    border-radius: 50%;
    border: 4px solid #99E1D9;
    background-color: #5d576b62;

    position: absolute;
    top: -10px;
    left: 30px;
    padding-top: 3px;
}

/* A red box that will hold any side note (should be in the bottom), prefixes with the words "Side note:" */
.sidenotetext {
    border: 2px dashed #F7567C;
    border-radius: 5px;
    background-color: #f7567c49;
    color: #F7567C;
    padding: 10px;
    text-align: left;
    margin: 0;
    margin-top: 20px;
}
.sidenotetext::before {
    content: "Side note:";
    text-decoration: underline;
}

/* highlights tooltips to be hovered and reveal more text (definitions or pronunciations) */
.tooltip {
    position: relative;
    background-color: #99E1D9;
}
.tooltiptext {
        visibility: hidden;
        background-color: #5d576bdd;
        color: #FFFAE3;
        text-align: left;
        border-radius: 5px;
        padding: 5px;
        position: absolute;
        width: 250px;
        margin-left: 10px;
        bottom: -50px;
        z-index: 1;
        text-indent: 0;
        filter: drop-shadow(2px 3px 5px black);
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    animation: fadein .5s ease 1;
}
.tooltip:hover {
    animation: hovering .2s ease 1;
    background-color: #F7567C;
}

/* Fades in colors and tooltip */
@keyframes hovering {
    0% {
        background-color: #99E1D9;
    }
    100% {
        background-color: #F7567C;
    }
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1.0;
    }
}

/* a button to return you to the table of contents */
#tableofcontents {
    position: fixed;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #99E1D9;
    outline: 2px solid #fffae35e;
    outline-offset: 2px;
    left: 20px;
    top: 20px;
    height: 75px;
    width: 75px;
    font-weight: 800;
    font-size: 50px;
}
#tableofcontents:hover {
    background-color: #F7567C;
    cursor: pointer;
}
#tableofcontents:active {
    background-color: #FFFAE3;
}

/* images will have a border and drop shadow */
img {
    border: 5px solid #5D576B;
    box-shadow: 5px 5px 10px #000000;
}
/* line breaks won't be selectable */
br {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* back and next buttons */
#next {
    position: fixed;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #99E1D9;
    outline: 2px solid #fffae35e;
    outline-offset: 2px;
    right: 20px;
    bottom: 20px;
    height: 100px;
    width: 125px;
    font-weight: 800;
    font-size: 24px;
}
#next::after {
    content: " ▶";
}
#next:hover {
    background-color: #F7567C;
    cursor: pointer;
}
#next:active {
    background-color: #FFFAE3;
}
#back {
    position: fixed;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #99E1D9;
    outline: 2px solid #fffae35e;
    outline-offset: 2px;
    left: 20px;
    bottom: 20px;
    height: 100px;
    width: 125px;
    font-weight: 800;
    font-size: 24px;
}
#back::before {
    content: "◀ ";
}
#back:hover {
    background-color: #F7567C;
    cursor: pointer;
}
#back:active {
    background-color: #FFFAE3;
}
::selection {
    color: #FCFCFC;
    background-color: #F7567C;
}
/* removes scrollbar */
::-webkit-scrollbar {
    display: none;
}