body {
    font-family: sans-serif;
    background: #5D576B;
    margin: 0;
    padding: 0;
    overflow-y:scroll;
    min-height: 100%;
}

html {
    height: 100vh;
}

#gradientbackground {
    position: fixed;
    height: 100%;
    width: 100%;
    background: linear-gradient(-45deg, #5D576B, #766e8d, #6f6585, #666270);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#starbackground {
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url("stars.png");
    background-size: 25%;
    filter: drop-shadow(0px 0px 3px #FFFAE3);
    animation: stars 150s linear infinite;
}

@keyframes stars {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

#content {
    width: 1000px;
    max-width: 75vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.helloText {
    color: #5D576B;
    text-shadow: 1px 1.5px #f7567c00;
    font-weight: 800;
    margin: 0;
}

.unitText {
    color: #5D576B;
    text-shadow: 2px 3px #f7567c72;
    font-weight: 800;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.description {
    margin: 0;
    font-weight: 900;
    font-size: 60px;
    text-shadow: 2px 3px #99E1D9, 4px 6px #6ec1b7;
}

.contentcontainer {
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #FFFAE3;
    outline: 2px solid #fffae35e;
    outline-offset: 5px;
    filter: drop-shadow(5px 5px 5px #000000);
    align-items: center;
    text-align: center;
    padding: 30px;
    width: 95%;
    margin-bottom: 30px;
}

.contenttext {
    margin: 0;
    color: #5D576B;
    font-weight: 750;
    text-align: left;
    font-size: 24px;
    line-height: 30px;
    text-indent: 60px;
    width: 100%;
}

.titletext {
    margin: 0;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #5D576B;
    font-weight: 800;
    text-align: left;
    font-size: 40px;
    line-height: 30px;
    text-indent: 60px;
    width: 100%;
    text-shadow: 2px 3px#99E1D9;
    transform: translate(0, -7px);
}

.steptext {
    color: #99E1D9;
    filter: drop-shadow(2px 2px #5D576B) drop-shadow(1px 1px #F7567C);
    font-weight: 800;
    font-size: 24px;
    display: block;
    height: 39px;
    width: 42px;
    border-radius: 50%;
    border: 4px solid #99E1D9;
    background-color: #5d576b62;

    position: absolute;
    top: -10px;
    left: 30px;
    padding-top: 3px;
}

.sidenotetext {
    border: 2px dashed #F7567C;
    border-radius: 5px;
    background-color: #f7567c49;
    color: #F7567C;
    padding: 10px;
    text-align: left;
    margin: 0;
    margin-top: 20px;
}
.sidenotetext::before {
    content: "Side note:";
    text-decoration: underline;
}

.tooltip {
    position: relative;
    background-color: #99E1D9;
}
.tooltiptext {
        visibility: hidden;
        background-color: #5d576bdd;
        color: #FFFAE3;
        text-align: left;
        border-radius: 5px;
        padding: 5px;
        position: absolute;
        width: 250px;
        margin-left: 10px;
        bottom: -50px;
        z-index: 1;
        text-indent: 0;
        filter: drop-shadow(2px 3px 5px black);
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    animation: fadein .5s ease 1;
}
.tooltip:hover {
    animation: hovering .2s ease 1;
    background-color: #F7567C;
}

@keyframes hovering {
    0% {
        background-color: #99E1D9;
    }
    100% {
        background-color: #F7567C;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1.0;
    }
}

img {
    border: 5px solid #5D576B;
    box-shadow: 5px 5px 10px #000000;
}
br {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#next {
    position: fixed;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #99E1D9;
    outline: 2px solid #fffae35e;
    outline-offset: 2px;
    right: 20px;
    bottom: 20px;
    height: 100px;
    width: 125px;
    font-weight: 800;
    font-size: 24px;
}
#next::after {
    content: " ▶";
}
#next:hover {
    background-color: #F7567C;
    cursor: pointer;
}
#next:active {
    background-color: #FFFAE3;
}
#back {
    position: fixed;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #99E1D9;
    outline: 2px solid #fffae35e;
    outline-offset: 2px;
    left: 20px;
    bottom: 20px;
    height: 100px;
    width: 125px;
    font-weight: 800;
    font-size: 24px;
}
#back::before {
    content: "◀ ";
}
#back:hover {
    background-color: #F7567C;
    cursor: pointer;
}
#back:active {
    background-color: #FFFAE3;
}
::selection {
    color: #FCFCFC;
    background-color: #F7567C;
}
::-webkit-scrollbar {
    display: none;
}