body {
    background-color: #5D576B;
    font-family: sans-serif;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    /* border: 1px solid black; */
}

#helloText {
    color: #99E1D9;
    font-weight: 800;
    margin-bottom: 0px;
}

.unitText {
    color: #99E1D9;
    font-weight: 800;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#description {
    font-weight: 900;
    font-size: 60px;
    text-shadow: 2px 3px #6db1a9, 4px 6px #439289, 3px 4.5px 10px #FFFAE3;
}

::selection {
    color: #FCFCFC;
    background-color: #F7567C;
}