<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/unitIntro.css">
    <title>Uh oh!</title>
    {% if session['role'] == 'student' %}
    <script>
        // every second, the page makes a request to the server for the current unit
        // if the current unit is not the current page, switch to it
        setInterval(() => {
            var result = null;
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "/getunit", false);
            xmlhttp.send();
            if (xmlhttp.status==200) {
                result = xmlhttp.responseText;
                console.log(result);
                if (result !='0.0') {
                    window.location.href = result;
                }
            }
        }, 1000)
    </script>
    {% endif %}
</head>
<body>
    <div id="gradientbackground"></div>
    <div id="starbackground"></div>
    <div class="center">
        <p id="helloText">Hello,</p>
        <p class="unitText">Looks like you're a bit</p>
        <p class="unitText" id="description">✨early✨</p>
    </div>
    <script> document.addEventListener('contextmenu', (e) => {e.preventDefault(); }) </script>
</body>
</html>