<!-- Designates the pages as HTML5 -->
<!DOCTYPE html>
<!-- sets the default language to english -->
<html lang="en">
<!-- header, sets tab name, character set, and width -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/content.css">
    <title>1.2 Not All Blindness is Equal</title>
    <!-- if the user is a student, run the script -->
    {% if session['role'] == 'student' %}
    <script>
        // every second, the page makes a request to the server for the current unit
        // if the current unit is not the current page, switch to it
        setInterval(() => {
            var result = null;
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "/getunit", false);
            xmlhttp.send();
            if (xmlhttp.status==200) {
                result = xmlhttp.responseText;
                console.log(result);
                if (result !='1.2') {
                    window.location.href = result;
                }
            }
        }, 1000)
    </script>
    {% endif %}
</head>
<!-- body of the page, where everything is -->
<body>
    <!-- creates a gradient background with CSS -->
    <div id="gradientbackground"></div>
    <!-- creates a scrolling star background with CSS -->
    <div id="starbackground"></div>
    <!-- container to center the main content -->
    <div id="content">
        <!-- make a content box -->
        <div class="contentcontainer">
            <!-- standard page starter, introducing the lesson -->
            <p class="helloText">Hello,</p>
            <p class="unitText">Welcome to Lesson 1.2, </p>
            <p class="unitText description">Not All Blindness is Equal</p>
        </div>
        <!-- another box for more elaboration -->
        <div class="contentcontainer">
            <!-- make a paragraph, styled -->
            <p class="contenttext">
                There are many different types of blindness.  
                Those with visual impairment can develop it later in life, 
                while others were born with it.  Blindness that people are 
                <!-- tooltips for more depth, and to allow for easy look up for definition and/or pronunciation -->
                born with are called  <strong class="tooltip">congenital<span class="tooltiptext">
                    (kuhn-JEH-nuh-tl) A type of visual impairment that is possessed from birth</span></strong>. 
                There can be many different causes of blindness, and we'll talk more about them below.
            </p>
            <!-- a red textbox under the rest of the content in the box to give additional information -->
            <p class="sidenotetext" style="::before {content: '! Warning ! ';}">
                Some of the images in this lesson may be triggering or graphic. If this is an issue, please 
                refrain from continuing with this particular lesson.
            </p>
        </div>
        <div class="contentcontainer">
            <!-- circle with a number inside it -->
            <p class="steptext">1</p>
            <p class="contenttext">
                Blindness can be caused by the loss of one or both of a person's eyes. 
                This is known as <strong class="tooltip">anophthalmia<span class="tooltiptext">(an-off-THAL-mee-ah) When a baby 
                    is born with one or both of its eyes missing.</span></strong>.  Try pronouncing anophthalmia! 
                (Hint: hover over the highlighted word for its pronunciation!)
            </p>
            <!-- img outside the paragraphs to get center align, personally styled for width and margin -->
            <img src="static/1.2anophthalmia.png" alt="Image of Anophthalmia" style="margin-top: 20px; width: 600px;">
        </div>
        <div class="contentcontainer">
            <p class="steptext">2</p>
            <p class="contenttext">
                Others may be born with both of their eyes, 
                but things can go wrong with their growth, 
                leading to the baby being born with eyes that are too small.  
                This can happen to one or both eyes, leading to complete blindness 
                for the eyes it affects.
            </p>
            <img src="static/1.2microphthalmia.png" alt="Image of Microphthalmia" style="margin-top: 20px; width: 600px;">
        </div>
        <div class="contentcontainer">
            <p class="steptext">3</p>
            <p class="contenttext">
                Besides smaller eyes, poor eyesight can be 
                caused by imperfections in the eye, especially 
                the <strong class="tooltip">iris<span class="tooltiptext">The colored ring around the black dot on your eyes</span></strong>.
                This can cause complete blindness in worse cases.
            </p>
            <img src="static/1.2coloboma.png" alt="Image of Coloboma" style="margin-top: 20px; width: 600px;">
        </div>
        <div class="contentcontainer">
            <p class="steptext">4</p>
            <p class="contenttext">
                <strong class="tooltip">Cataracts<span class="tooltiptext">Cloudy, gray films within the eyes that can block vision</span></strong>
                are cloudy, gray films that develop on the inside of the eyeball, leading to a loss of vision. 
                They are caused by a variety of reasons, including old age, or a person can be born with them.  
                These can become worse and worse, where early stages do not cause total blindness.  Over time, 
                though, they can damage the eye enough to cause complete blindness.
            </p>
            <img src="static/1.2cataracts2.png" alt="Image of Cataracts" style="margin-top: 20px; width: 900px;">
        </div>
        <div class="contentcontainer">
            <p class="steptext">5</p>
            <p class="contenttext">
                <strong class="tooltip">Age-related macular degeneration (AMD)<span class="tooltiptext">Also called AMD, it is when 
                    the macula of your eye worsens as you age and grow older.
                </span></strong> 
                is when the <strong class="tooltip">macula<span class="tooltiptext">The part of the eye that accepts and allows you to process light</span></strong> 
                of your eye decays as you grow older. 
                The macula is the part at the back of your eye that actually receives and processes light, 
                allowing you to see. As you grow older, the macula can be damaged, leading to a loss of vision, 
                though usually not completely. Though AMD cannot be seen from the outside, images like the one below
                will sometimes show a small spots on the eye. Try to see the difference in the images below!
            </p>
            <img src="static/1.2amd.png" alt="Image of a Degenerated Macula" style="margin-top: 20px; width: 900px;">
        </div>
        <div class="contentcontainer">
            <p class="steptext">6</p>
            <p class="contenttext">
                <strong class="tooltip">Diabetic retinopathy<span class="tooltiptext">(DIE-uh-beh-tick reh-ten-OP-uh-thee) 
                The loss of vision because of diabetes</span></strong> is when you lose your vision due to diabetes. 
                <strong class="tooltip">Diabetes<span class="tooltiptext">A condition that causes a person to not have enough sugar in their blood,
                    leading to loss of energy.
                </span></strong> 
                is when you have naturally low amounts of sugar in your blood, meaning your cells aren't able 
                to get the energy they need. This causes damage to the eye, eventually leading to blindness.
            </p>
            <img src="static/1.2diabeticretinopathy2.png" alt="Image of Diabetic Retinopathy" style="margin-top: 20px; width: 900px;">
        </div>
        <div class="contentcontainer">
            <p class="steptext">7</p>
            <p class="contenttext">
                <strong class="tooltip">Glaucoma<span class="tooltiptext">(gla-oh-KOH-muh) A condition that increases the pressure in the eyeball, leading to a loss of sight</span></strong> 
                is when the nerve that connects your eye to your brain is damaged over a lot of time 
                due to a lot of pressure inside the eye. Can you pronounce glaucoma? The disease is incurable, 
                and is a common cause of blindness, leading to loss of vision, or even complete blindness.  It 
                can be congenital (remember, that means it was developed at birth!), or be gotten later in life.  
                Visually, it is hard to see the effects of glaucoma, though it can sometimes cause redness in the eyes.
            </p>
            <img src="static/1.2glaucoma.png" alt="Image of Glaucoma" style="margin-top: 20px; width: 600px;">
        </div>
        <div class="contentcontainer">
            <!-- new header for activity -->
            <p class="unitText">Brain-Power Activity</p>
            <p class="unitText description">Let's Think!</p>
        </div>
        <div class="contentcontainer">
            <p class="contenttext">
                With a partner, discuss the difference between partial and complete blindness, 
                and talk about a cause of blindness you are most interested in.
            </p>
            <img src="static/1.2discussion.png" alt="Discussion" style="margin-top: 20px; width: 600px;">
        </div>
    </div>
    <!-- if the user is a teacher -->
    {% if session['role'] == 'teacher' %}
    <!-- navigation buttons, only visible to the teacher, allows 
        for going back and forth between lessons, and to return to the table of contents -->
    <div id="navbuttons">
        <button id="tableofcontents">≡</button>
        <button id="back">Back</button>
        <button id="next">Next</button>
    </div>
    <script>
        // when each button is clicked, go to the designated page, only visible to the teacher
        document.getElementById("tableofcontents").addEventListener("click", (e) => {
            e.preventDefault();
            window.location.href = "/tableofcontents";
        })
        document.getElementById("back").addEventListener("click", (e) => {
            e.preventDefault();
            window.location.href = "1.1";
        })
        document.getElementById("next").addEventListener("click", (e) => {
            e.preventDefault();
            window.location.href = "2.0";
        })
    </script>
    {% endif %}
</body>
</html>