<!-- Designates the pages as HTML5 -->
<!DOCTYPE html>
<!-- sets the default language to english -->
<html lang="en">
<!-- header, sets tab name, character set, and width -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/content.css">
    <title>2.1 How Do Blind People Get Around?</title>
    <!-- if the user is a student, run the script -->
    {% if session['role'] == 'student' %}
    <script>
        // every second, the page makes a request to the server for the current unit
        // if the current unit is not the current page, switch to it
        setInterval(() => {
            var result = null;
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "/getunit", false);
            xmlhttp.send();
            if (xmlhttp.status==200) {
                result = xmlhttp.responseText;
                console.log(result);
                if (result !='2.1') {
                    window.location.href = result;
                }
            }
        }, 1000)
    </script>
    {% endif %}
</head>
<!-- body of the page, where everything is -->
<body>
    <!-- creates a gradient background with CSS -->
    <div id="gradientbackground"></div>
    <!-- creates a scrolling star background with CSS -->
    <div id="starbackground"></div>
    <!-- container to center the main content -->
    <div id="content">
        <!-- make a content box -->
        <div class="contentcontainer">
            <!-- standard page starter, introducing the lesson -->
            <p class="helloText">Hello,</p>
            <p class="unitText">Welcome to Lesson 2.1, </p>
            <p class="unitText description">How Do Blind People Get Around?</p>
        </div>
        <!-- another box for more elaboration -->
        <div class="contentcontainer">
            <!-- make a paragraph, styled -->
            <p class="contenttext">
                Blind people can have a harder time getting around, compared to those with sight. 
                While they are usually able to do things on their own, sometimes
                help is required, from family, service animals, or sometimes even the
                kindness of strangers. In a world of technology and science, computers and 
                products have been designed to improve the lives of those with visual impairments.
            </p>
        </div>
        <div class="contentcontainer">
            <p class="contenttext">
                For example, an app known as “Seeing AI” uses a device's camera to recognize 
                items and people in front of it, which is then used to notify the user of what
                they might be looking at. Links to download Seeing AI are below.
            </p>
            <!-- link play store link for the app -->
            <a href="https://play.google.com/store/apps/details?id=com.microsoft.seeingai&hl=en_US&gl=US" target="_blank" rel="noopener noreferrer"><img src="static/googleplay.png" alt="Download Seeing AI on the Google Play Store" style="border: none; box-shadow: none; height: 50px;"></a>
            <!-- link app store link for the app -->
            <a href="https://apps.apple.com/us/app/seeing-ai/id999062298" target="_blank" rel="noopener noreferrer"><img src="static/appstore.png" alt="Download Seeing AI on the App Store" style="border: none; box-shadow: none; height: 50px;"></a>
        </div>
        <div class="contentcontainer">
            <p class="unitText">Hands-On Activity</p>
            <p class="unitText description">Try It Yourself!</p>
        </div>
        <div class="contentcontainer">
            <p class="contenttext">
                This is a short, interactive lesson and experiment to help you
                understand the effects of visual impairment on an person's life.
            </p>
            <br>
            <p class="contenttext">
                Materials
            </p>
            <p class="contenttext">
                1. Some form of accessory, such as a hat, gloves, jacket, or scarf
            </p>
            <p class="contenttext">
                2. Something to act as a blindfold, such as a blindfold or cloth
            </p>
            <!-- a red textbox under the rest of the content in the box to give additional information -->
            <p class="sidenotetext">
                Make sure to read the entire step-by-step directions before blindfolding yourself!
            </p>
        </div>
        <div class="contentcontainer">
            <!-- circle with a number inside it -->
            <p class="steptext">1</p>
            <!-- emphasized and larger to name the step -->
            <p class="titletext">Get Ready!</p>
            <!-- explain the step -->
            <p class="contenttext">
                Layout the piece of clothing on a table in front of you
            </p>
            <!-- img outside the paragraphs to get center align, personally styled for width and margin -->
            <img src="static/2.1step1.png" alt="Accessories!" style="margin-top: 20px; width: 600px;">
        </div>
        <div class="contentcontainer">
            <p class="steptext">2</p>
            <p class="titletext">Experience!</p>
            <p class="contenttext">
                With adult supervision or help, put on a blindfold.
            </p>
            <img src="static/2.1step2.png" alt="Experience!" style="margin-top: 20px; width: 400px;">
        </div>
        <div class="contentcontainer">
            <p class="steptext">3</p>
            <p class="titletext">Do It!</p>
            <p class="contenttext">
                Start trying to put on your piece of clothing! If you have multiple, put them on one at a time. 
                Be careful and keep awareness of your surroundings, and ensure adult supervision.
            </p>
            <img src="static/2.1step3.png" alt="Kid Putting on a Jacket" style="margin-top: 20px; width: 300px;">
        </div>
        <div class="contentcontainer">
            <p class="steptext">4</p>
            <p class="titletext">Can You Do It?</p>
            <p class="contenttext">
                The goal is to experience what it's like to do everyday tasks without sight, such as dressing yourself.
                Try to put on your accessory without looking!
            </p>
            <img src="static/2.1step4.png" alt="Goal at the top of a hill" style="margin-top: 20px; width: 600px;">
        </div>
        <div class="contentcontainer">
            <p class="titletext" style="text-indent: 0;">Reflection</p>
            <p class="contenttext">
                Now we understand how hard it can be to do things while missing one of our most important senses. 
                Talking to a partner, what do you think are some other things visually impaired people might
                struggle with?
            </p>
            <img src="static/2.1reflection.png" alt="Kid Thinking" style="margin-top: 20px; width: 600px;">
        </div>
    </div>
    <!-- if the user is a teacher -->
    {% if session['role'] == 'teacher' %}
    <!-- navigation buttons, only visible to the teacher, allows 
        for going back and forth between lessons, and to return to the table of contents -->
    <div id="navbuttons">
        <button id="tableofcontents">≡</button>
        <button id="back">Back</button>
        <button id="next">Next</button>
    </div>
    <script>
        // when each button is clicked, go to the designated page, only visible to the teacher
        document.getElementById("tableofcontents").addEventListener("click", (e) => {
            e.preventDefault();
            window.location.href = "/tableofcontents";
        })
        document.getElementById("back").addEventListener("click", (e) => {
            e.preventDefault();
            window.location.href = "2.0";
        })
        document.getElementById("next").addEventListener("click", (e) => {
            e.preventDefault();
            window.location.href = "2.2";
        })
    </script>
    {% endif %}
</body>
</html>