<!-- Designates the pages as HTML5 -->
<!DOCTYPE html>
<!-- sets the default language to english -->
<html lang="en">
<!-- header, sets tab name, character set, and width -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/content.css">
    <title>2.2 Service Animals and Canes</title>
    <!-- if the user is a student, run the script -->
    {% if session['role'] == 'student' %}
    <script>
        // every second, the page makes a request to the server for the current unit
        // if the current unit is not the current page, switch to it
        setInterval(() => {
            var result = null;
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "/getunit", false);
            xmlhttp.send();
            if (xmlhttp.status==200) {
                result = xmlhttp.responseText;
                console.log(result);
                if (result !='2.2') {
                    window.location.href = result;
                }
            }
        }, 1000)
    </script>
    {% endif %}
</head>
<!-- body of the page, where everything is -->
<body>
    <!-- creates a gradient background with CSS -->
    <div id="gradientbackground"></div>
    <!-- creates a scrolling star background with CSS -->
    <div id="starbackground"></div>
    <!-- container to center the main content -->
    <div id="content">
        <!-- make a content box -->
        <div class="contentcontainer">
            <!-- standard page starter, introducing the lesson -->
            <p class="helloText">Hello,</p>
            <p class="unitText">Welcome to Lesson 2.2, </p>
            <p class="unitText description">Service Animals and Canes</p>
        </div>
        <!-- another box for more elaboration -->
        <div class="contentcontainer">
            <!-- make a paragraph, styled -->
            <p class="contenttext">
                Blind people are able to get around by using a dog. 
                The name for this dog is a 
                <strong class="tooltip">guide dog, or seeing eye dog<span class="tooltiptext">A dog used by blind individuals to guide them in public areas</span></strong>. 
                They have a very important job. They help people know where 
                bumps and holes may be. They can also help them cross the road.
            </p>
            <!-- img outside the paragraphs to get center align, personally styled for width and margin -->
            <img src="static/2.2seeingeyedog.png" alt="A Seeing Eye Dog" style="margin-top: 20px; width: 500px;">
        </div>
        <div class="contentcontainer">
            <p class="contenttext">
                This usually means that the service dog is looking for your help 
                because something happened to their owner.
            </p>
            <!-- creates a blurred space above the ^text^, disappearing when the user
                hovers over it, allowing for reveals of answers -->
            <div class="spoileroverlay">
                <!-- text that goes on top of the blur -->
                <p class="contenttext" style="text-align: center;">
                    What do you think it means when a service dog approaches you without its owner? (Hover to reveal the answer!)
                </p>
            </div>
        </div>
        <div class="contentcontainer">
            <p class="contenttext">
                Another way those with visual impairments get around is using long, white canes.
            </p>
            <img src="static/2.2cane.png" alt="A Blind Man with a Cane" style="margin-top: 20px; width: 500px;">
            <br>
            <br>
            <p class="contenttext">
                The tip of the cane is used to scrape the floor. The bottom of the cane will make 
                vibrations that the person can feel. This lets them know if there is a road or anything 
                else nearby.
            </p>
            <!-- split paragraphs with line breaks -->
            <br>
            <p class="contenttext">
                Blind people use their hearing a lot too. 
                If they pay close attention, they can tell 
                what teacher is coming up to them by just the 
                jingle of their keys.
            </p>
        </div>
        <div class="contentcontainer">
            <!-- new header for activity -->
            <p class="unitText">Hands-On Activity</p>
            <p class="unitText description">Try It Yourself!</p>
        </div>
        <div class="contentcontainer">
            <p class="contenttext">
                This is a short, interactive lesson and experiment to help you
                understand the how visual impairment affects the way a person travels.
            </p>
            <br>
            <p class="contenttext">
                Materials
            </p>
            <p class="contenttext">
                1. A blindfold or cloth
            </p>
            <p class="contenttext">
                2. A cane or long stick
            </p>
            <!-- a red textbox under the rest of the content in the box to give additional information -->
            <p class="sidenotetext">
                Make sure to read the entire step-by-step directions before blindfolding yourself!
            </p>
        </div>
        <div class="contentcontainer">
            <p class="steptext">1</p>
            <p class="titletext">Get Ready!</p>
            <p class="contenttext">
                Using a piece of cloth, securely blindfold yourself so that no light reaches your eyes,
                with adult supervision.
            </p>
            <img src="static/2.2step1.png" alt="Kid Blindfolding Themself" style="margin-top: 20px; width: 600px;">
        </div>
        <div class="contentcontainer">
            <p class="steptext">2</p>
            <p class="titletext">Experience!</p>
            <p class="contenttext">
                With adult supervision, use the cane to travel from one side of the room 
                to the other, navigating around obstacles. Take care not to hit anything too hard,
                and walk slowly to get a sense of your surroundings.
            </p>
            <img src="static/2.2step2.png" alt="Experience!" style="margin-top: 20px; width: 400px;">
        </div>
        <div class="contentcontainer">
            <p class="titletext" style="text-indent: 0;">Reflection</p>
            <p class="contenttext">
                With a partner, answer the following questions.
            </p>
            <p class="contenttext">
                1. What was the first thing you noticed about moving around with a cane?
            </p>
            <p class="contenttext">
                2. Did you have to be more careful?
            </p>
            <p class="contenttext">
                3. How did you have to use your hearing or other senses?
            </p>
            <img src="static/2.2reflection.png" alt="Kid Thinking" style="margin-top: 20px; width: 600px;">
        </div>
    </div>
    <!-- if the user is a teacher -->
    {% if session['role'] == 'teacher' %}
    <!-- navigation buttons, only visible to the teacher, allows 
        for going back and forth between lessons, and to return to the table of contents -->
    <div id="navbuttons">
        <button id="tableofcontents">≡</button>
        <button id="back">Back</button>
        <button id="next">Next</button>
    </div>
    <script>
        // when each button is clicked, go to the designated page, only visible to the teacher
        document.getElementById("tableofcontents").addEventListener("click", (e) => {
            e.preventDefault();
            window.location.href = "/tableofcontents";
        })
        document.getElementById("back").addEventListener("click", (e) => {
            e.preventDefault();
            window.location.href = "2.1";
        })
        document.getElementById("next").addEventListener("click", (e) => {
            e.preventDefault();
            window.location.href = "3.0";
        })
    </script>
    {% endif %}
</body>
</html>