<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/home.css">
    <title>VIAC</title>
</head>
<body>
    <div id="gradientbackground"></div>
    <div id="starbackground"></div>
    <div id="interactionBox">
        <img src="static/viaclogo.png" alt="V.I.A.C Logo" id="viaclogo">
        <form method="post" id="roomCodeForm">
            <input type="text" name="roomCode" id="roomCode" value="{{ request.form['roomCode'] }}" required autofocus autocomplete="off" maxlength="6" alt="Insert Room Code" placeholder="Room Code">
            <input type="submit" name="codeSubmitButton" id="codeSubmitButton" value="Go!">
        </form>
    </div>
    <img src="static/thinkersletterhead.png" alt="The Thinkers logo" id="thinkerslogo">
    <script> document.addEventListener('contextmenu', (e) => {e.preventDefault(); }) </script>
</body>
</html>