<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIAC</title>
</head>
<body>
    <img src="static/thinkersletterhead.png" alt="The Thinkers logo">
    <form method="post" id="roomCodeForm">
        <input type="text" name="roomCode" id="roomCode" value="{{ request.form['roomCode'] }}" required autofocus>
        <input type="submit" name="codeSubmitButton" id="codeSubmitButton">
    </form>
</body>
</html>