<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/toc.css">
    <title>Table of Contents</title>
</head>
<body>
    <div id="gradientbackground"></div>
    <div id="starbackground"></div>
    <div id="mainbox">
        <p id="welcome">Welcome teacher!</p>
        <div class="unitbox">
            <a href="/1.0" class="unittext">Unit 1 - Introduction to Types of Blindness</a>
            <p class="subunittext">1.1 Misconceptions</p>
            <p class="subunittext">1.2 Not All Blindness is Equal</p>
        </div>
        <div class="unitbox">
            <a href="/2.0" class="unittext">Unit 2 - And Beyond</a>
            <p class="subunittext">2.1 How Do Blind People Get Around?</p>
            <p class="subunittext">2.2 Service Animals and Canes</p>
        </div>
    </div>
</body>
</html>