<!-- Designates the pages as HTML5 -->
<!DOCTYPE html>
<!-- sets the default language to english -->
<html lang="en">
<!-- header, sets tab name, character set, and width -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/toc.css">
    <title>Table of Contents</title>
</head>
<!-- body of the page, where everything is -->
<body>
    <!-- creates a gradient background with CSS -->
    <div id="gradientbackground"></div>
    <!-- creates a scrolling star background with CSS -->
    <div id="starbackground"></div>
    <!-- main content box to center everything -->
    <div id="mainbox">
        <!-- text that welcomes the user -->
        <p id="welcome">Welcome teacher!</p>
        <!-- list of units, separated by units into cards, with the link to the unit page, and text naming the subunits -->
        <div class="unitbox">
            <a href="/1.0" class="unittext">Unit 1 - Introduction to Types of Blindness</a>
            <p class="subunittext">1.1 Misconceptions</p>
            <p class="subunittext">1.2 Not All Blindness is Equal</p>
            <a href="https://drive.google.com/file/d/1fq6qmc5Hr1TcbaPhukLpDSg_fGSA97gR/view?usp=sharing"  target="_blank" rel="noopener noreferrer" class="unittext" style="font-size: 18px;">Lesson 1.2 Graphic Organizer</a>
        </div>
        <div class="unitbox">
            <a href="/2.0" class="unittext">Unit 2 - The Life of the Visually Impaired</a>
            <p class="subunittext">2.1 How Do Blind People Get Around?</p>
            <p class="subunittext">2.2 Service Animals and Canes</p>
        </div>
        <div class="unitbox">
            <a href="/3.0" class="unittext">Unit 3 - Beyond</a>
            <p class="subunittext">3.1 What Can You Do?</p>
        </div>
    </div>
</body>
</html>